.home-section-1 {
    height: 100vh;
    text-align: center;
    margin: auto;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    .inner-home {
        span {
            position: relative;
            &:after {
                content: '_';
                position: absolute;
                font-size: 144px;
                font-weight: 100;
                bottom: -21px;
                animation: blinker 1s step-start infinite;
                @keyframes blinker {
                    50% {
                        opacity: 0;
                    }
                }
            }
        }
        h5 {
            font-family: $font-family-base;
            font-weight: 300;
            font-size: 22px;
            color: $color-blue;
            letter-spacing: 11px;
            margin-bottom: 10px;
            text-transform: uppercase;
        }
        h6 {
            font-family: $font-family-base;
            font-weight: 300;
            font-size: 13px;
            color: $color-blue;
            letter-spacing: 11px;
            margin-bottom: 120px;
            text-transform: uppercase;
        }
    }
}

.home-section-2 {
    padding-top: 200px;
    .first-col {
        h1 {
            display: inline-block;
            // text-transform: uppercase;
            color: #fff;
            position: relative;
            margin-bottom: 30px;
            &:before {
                content: '01. ';
                font-family: $font-family-extra;
                font-size: 22px;
                color: $color-blue;
                letter-spacing: 1px;
                font-weight: 300;
            }
        }
        p {
            &:nth-of-type(1) {
                margin-bottom: 30px;
            }
        }
    }
    .second-col {
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            &:after {
                content: '';
                width: 300px;
                height: 300px;
                border: 2px solid $color-blue;
                position: absolute;
                transform: translate(7%, -93%);
                z-index: -1;
            }
            img {
                display: block;
                position: relative;
            }
        }
    }
}

.home-section-3 {
    padding-top: 450px;
    h1 {
        text-align: right;
        margin-bottom: 30px;
        &:before {
            content: '02. ';
            font-family: $font-family-extra;
            font-size: 22px;
            color: $color-blue;
            letter-spacing: 1px;
            font-weight: 300;
        }
    }
    .row {
        display: flex;
        align-items: center;
        p {
            text-align: right;
        }
        .row-list {
            padding-left: 15px;
            ul {
                list-style-type: none;
                li {
                    font-size: 16px;
                    font-family: $font-family-extra;
                    font-weight: 300;
                    margin-bottom: 15px;
                    &:before {
                        content: "▹";
                        position: absolute;
                        left: -5px;
                        color: $color-blue;
                        font-size: 16px;
                        line-height: 21px;
                    }
                }
            }
        }
    }
}

.home-section-4 {
    padding-top: 450px;
    h1 {
        text-align: center;
        margin-bottom: 100px;
        &:before {
            content: '03. ';
            font-family: $font-family-extra;
            font-size: 22px;
            color: $color-blue;
            letter-spacing: 1px;
            font-weight: 300;
        }
    }
    .cv-single {
        .date-col {
            p {
                font-size: 16px;
                text-align: center;
                padding-right: 20px;
            }
        }
        .job-col {
            position: relative;
            padding-bottom: 75px;
            &:before {
                content: '';
                position: absolute;
                top: 10px;
                left: -50px;
                width: 1px;
                height: 100%;
                background-color: $color-blue;
            }
            &:after {
                content: '';
                position: absolute;
                top: 10px;
                left: -55px;
                height: 11px;
                width: 11px;
                background-color: $color-blue;
                border-radius: 50%;
            }
            .company {
                font-size: 14px;
                font-weight: 300;
                font-family: $font-family-extra;
                font-weight: 300;
                opacity: 0.3;
            }
            .position {
                font-size: 26px;
                font-weight: 600;
                margin-bottom: 10px;
                color: #fff;
            }
            .desc {
                font-size: 16px;
            }
        }
    }
}

.home-section-5 {
    padding: 300px 15px 200px;
    .contact-text {
        h1 {
            margin-bottom: 30px;
            &:before {
                content: '04. ';
                font-family: $font-family-extra;
                font-size: 22px;
                color: $color-blue;
                letter-spacing: 1px;
                font-weight: 300;
            }
        }
        .mail {
            margin-top: 15px;
        }
        p {
            padding-right: 15%;
        }
        .social {
            font-size: 12px;
            font-weight: 300;
            margin-top: 70px;
            font-family: $font-family-extra;
        }
        .social-icons {
            padding-top: 10px;
            .social-icon {
                display: inline-block;
                width: 35px;
                height: 35px;
                margin-right: 20px;
                &.bit-ico {
                    background: url(../assets/github_ico.svg);
                    background-repeat: no-repeat!important;
                    background-size: contain!important;
                    background-position: center center!important;
                    transition: background .3s, bottom .3s;
                    position: relative;
                    bottom: 0px;
                    &:hover {
                        background: url(../assets/github_ico_blue.svg);
                        cursor: pointer;
                        bottom: 3px;
                    }
                }
                &.linked-ico {
                    background: url(../assets/linkedin_ico.svg);
                    background-repeat: no-repeat!important;
                    background-size: contain!important;
                    background-position: center center!important;
                    transition: background .3s, bottom .3s;
                    position: relative;
                    bottom: 0px;
                    &:hover {
                        background: url(../assets/linkedin_ico_blue.svg);
                        cursor: pointer;   
                        bottom: 3px; 
                    }
                }
                &.behance-ico {
                    background: url(../assets/behance_ico.svg);
                    background-repeat: no-repeat!important;
                    background-size: contain!important;
                    background-position: center center!important;
                    transition: background .3s, bottom .3s;
                    position: relative;
                    bottom: 0px;
                    &:hover {
                        background: url(../assets/behance_ico_blue.svg);
                        cursor: pointer;   
                        bottom: 3px; 
                    }
                }
            }
        }
    }
    .contact-form {
        .message {
            margin-top: 50px;
            .wpcf7-form-control {
                margin-bottom: 0px;
            }
            p.textarea-wrapper {
                .wpcf7-form-control-wrap {
                    .wpcf7-not-valid-tip {
                        bottom: -25px;
                    }
                }
            }
        }
        .wpcf7-validation-errors {
            border: 2px solid #fffd8a;
        }
    }
}

/* Media */

@media only screen and (max-width: 1366px) {
    .home-section-3 {
        .cloud-tag {
            font-size: 15px;
        }
    }
}

@media only screen and (max-width: 1199px) {
    .home-section-1 {
        .inner-home {
            .glitch {
                font-size: 112px;
            }
            .btn_custom_blue {
                font-size: 14px;
            }
            span {
                &:after {
                    font-size: 112px;
                }
            }
        }
    }
    .home-section-3 {
        .cloud-tag {
            font-size: 14px;
            width: 100%;
            height: 458px;
            .tagcloud {
                width: 81%!important;
                height: 100%!important;
                font-size: 14px!important;
            }
        }
    }
    .home-section-4 {
        .cv-single {
            .date-col {
                p {
                    padding-right: 45px;
                }
            }
        }
    }
    .home-section-5 {
        .wpcf7 {
            .btn_wrapper:before {
                top: -30px;
                right: -30px;
                left: -30px;
                bottom: -30px;
                background-size: 30px 30px;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .home-section-1 {
        .inner-home {
            .glitch {
                font-size: 100px;
            }
            span {
                &:after {
                    font-size: 100px;
                    bottom: -17px;
                }
            }
            h5 {
                font-size: 20px;
            }
            .btn_custom_blue {
                font-size: 14px;
            }
        }
    }
    .home-section-2 {
        padding-top: 100px;
    }
    .home-section-3 {
        padding-top: 250px;
    }
    .home-section-4 {
        padding-top: 250px;
    }
    .home-section-5 {
        padding-top: 250px;
        .wpcf7 {
            .btn_wrapper:before {
                display: none;
            }
            .label_anim,
            .label_anim_fix {
                font-size: 16px;
                &.has-value,
                &.has-value-fix {
                    font-size: 14px;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .home-section-1 {
        .inner-home {
            .glitch {
                font-size: 70px;
                letter-spacing: 14px;
            }
            span {
                &:after {
                    font-size: 70px;
                }
            }
            h5 {
                font-size: 14px;
                letter-spacing: 8px;
            }
            h6 {
                font-size: 11px;
                letter-spacing: 8px;
            }
            .btn_custom_blue {
                padding: 12px 35px 14px 40px;
            }
        }
    }
    .home-section-2 {
        padding-top: 60px;
        .first-col {
            margin-bottom: 40px;
            h1 {
                &:before {
                    font-size: 17px;
                }
            }
        }
    }
    .home-section-3 {
        h1 {
            text-align: left;
        }
        .row {
            .first-col {
                order: 2;
                padding-top: 50px;
            }
            .second-col {
                order: 1;
                p {
                    text-align: left;
                }
            }
        }
    }
    .home-section-4 {
        .cv-single {
            position: relative;
            margin-bottom: 50px;
            &:after {
                content: '';
                position: absolute;
                bottom: 30px;
                left: 0;
                right: 0;
                margin: 0 auto;
                height: 1px;
                width: 70px;
                background-color: $color-blue;
            }
            .date-col {
                p {
                    text-align: left;
                    font-size: 15px;
                }
            }
            .job-col {
                .position {
                    font-size: 24px;
                }
            }
        }
    }
    .home-section-5 {
        padding: 250px 15px 120px;
        .contact-text {
            p.social {
                margin-top: 35px;
            }
            .social-icons {
                .social-icon {
                    margin-right: 18px;
                    width: 25px;
                    height: 25px;
                }
            }
        }
        .contact-form {
            padding-top: 80px;
        }
    }
}

@media only screen and (max-width: 575px) {
    .home-section-4 {
        .cv-single {
            .job-col {
                .position {
                    line-height: 1.5;
                    margin-bottom: 18px;
                }
                .company {
                    line-height: 1.3;
                    margin: 10px 0 5px;
                }
            }
        }
    }
    .home-section-5 {
        .contact-form {
            .wpcf7 {
                .row_inputs {
                    .col-sm-6,
                    .col-sm-12 {
                        padding-top: 35px;
                        margin-top: 0px;
                    }
                }
            }
            .wpcf7-form-control-wrap {
                .wpcf7-not-valid-tip {
                    bottom: -24px;
                }
            }
        }
    }
}

.contact-form {
    .message {
        margin-top: 50px;
        .wpcf7-form-control {
            margin-bottom: 0px;
        }
        p.textarea-wrapper {
            .wpcf7-form-control-wrap {
                .wpcf7-not-valid-tip {
                    bottom: -25px;
                }
            }
        }
    }
    .wpcf7-validation-errors {
        border: 2px solid #fffd8a;
    }
}

@media only screen and (max-width: 479px) {
    .home-section-1 {
        .inner-home {
            .glitch {
                font-size: 56px;
                letter-spacing: 10px;
            }
            span {
                &:after {
                    font-size: 56px;
                    bottom: -8px;
                }
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    .home-section-1 {
        .inner-home {
            .glitch {
                font-size: 48px;
                letter-spacing: 10px;
            }
            span {
                &:after {
                    font-size: 48px;
                    bottom: -8px;
                }
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    .home-section-1 {
        .inner-home {
            h5 {
                font-size: 12px;
                letter-spacing: 6px;
            }
            h6 {
                letter-spacing: 6px;
            }
            .btn_custom_blue {
                font-size: 12px;
                padding: 11px 32px 13px 37px;
            }
        }
    }
    .home-section-2 {
        .second-col {
            span {
                &:after {
                    transform: translate(0%, -95%);
                }
            }
        }
    }
    .home-section-3 {
        .row {
            .row-list {
                ul {
                    li {
                        font-size: 15px;
                    }
                }
            }
        }
    }
    .home-section-4 {
        .cv-single {
            .job-col {
                .position {
                    font-size: 22px;
                }
            }
        }
    }
    .home-section-5 {
        .wpcf7 {
            .btn_wrapper {
                &:after {
                    width: 45px;
                    left: 63%;
                }
            }
        }
    }
}

// .loader-wrapper {
//     width: 100%;
//     height: 100vh;
//     position: absolute;
//     top: 0;
//     left: 0;
//     background-color: $color-dark;
//     text-align: center;
//     .loader {
//         font-size: 144px;
//         position: absolute;
//         top: 50%;
//         animation: blinker 1s step-start infinite;
//         @keyframes blinker {
//             50% {
//                 opacity: 0;
//             }
//         }
//     }
// }