@media only screen and (max-width: 1599px) {
  
}

@media only screen and (max-width : 1441px) {
  body{
    font-size: 16px;
    p, a, li{
      font-size: 16px;
    }
  }
  .wpcf7 {
    .wpcf7-acceptance {
      span {
        a {
          font-size: 10px!important;
        }
      }
    }
  }
}

@media only screen and (max-width: 1366px) {
  
}


@media only screen and (min-width : 1199px) {
}

@media only screen and (max-width : 1199px) {
  
}

@media only screen and (max-width: 991px) {
  .wpcf7 {
    .wpcf7-acceptance {
      text-align: left!important;
    }
  }
  
  body {
    font-size: 14px;
  }
}

@media only screen and (min-width: 991px) {
}

@media only screen and (min-width: 768px) {
  .hamburger{
    display: none;
  }
}
 
@media only screen and (max-width : 767px) {
  h1 {
    font-size: 26px;
  }
}

@media only screen and (max-width : 575px) {
  html{
    min-width: 320px;
  }
}

@media only screen and (max-width: 375px) {
  h1 {
    font-size: 24px;
  }
}

