/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */

$font-family-base: 'IBM Plex Sans', sans-serif;
$font-family-headers: 'Arimo', sans-serif;
$font-family-extra: 'SF Mono', sans-serif;
$font-size-base: 22px;
$line-height-base: 1.4;

/**
 * Colors
 */

 $text-color: #BDBDD5;
 $color-blue: #64DCDC;
 $color-blue-light:#7DCCE3;
 $color-light: #fff;
 $color-dark: #22222A;
